<!-- template d'un post composé d'un titre, d'un contenu et de deux boutons pour liker et ne pas liker-->
<li [ngClass]="{'list-group-item': true,
            'list-group-item-success': post.loveIts > 0,
            'list-group-item-danger': post.loveIts < 0}">
  <h3>{{post.title}}</h3>
  <p>{{post.content}}</p>
  <p class="date">{{post.created_at | date: 'dd/MM/yyyy, hh:mm'}}</p>
  <button class="btn btn-success"(click)="onLike()">Love it</button>
  <button class="btn btn-danger" (click)="onDislike()">Don't love it</button>
</li>
